<nav class="navigation">

	<!-- Logo -->
	<a href="/" class="flex-none maynooth-logo">
		<img src="/img/maynooth-fc-logo.png" alt="Maynooth FC logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<div class="navigation_wrapper">
		<div class="topnav" id="topnav">
			<a href="javascript:void(0);" class="icon" onclick="menuToggle()">
				<i class="fa fa-bars"></i>
			</a>
			<a href="/" class="pa3 no-underline db">Home</a>

			<a href="/about" class="pa3 no-underline db">About</a>

			<a href="/mission" class="pa3 no-underline db">Mission</a>

			<a href="/events" class="pa3 no-underline db">Events</a>

			<a href="/post" class="pa3 no-underline db">Latest News</a>

			<a href="/contact" class="pa3 no-underline db">Contact</a>
		</div>
	</div>
</nav>
