<div class="mb4">
    <div class="flex-ns mhn2-ns mb4">
        <div class="w-50-ns">
            <div class="align-social">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMTFC1969%2F&tabs=timeline&width=500&height=800&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=175135550366119" width="500" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="w-50-ns">
            <div class="align-social">
                <a class="twitter-timeline" data-width="500" data-height="800" href="https://twitter.com/MUTFC_Senior?ref_src=twsrc%5Etfw">Tweets by MUTFC_Senior</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

