.text-centered{
    text-align:center;
}

/* Masonry grid*/

.grid{
    padding-bottom:50px;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 31%;    }
.grid-item.gigante{width: 100%}
/* 2 columns */
.grid-item  .padding-wrapper { padding:5px; }

.grid-item .padding-wrapper .picture{
    margin:0px;
    padding:0px;
}

.grid-item .padding-wrapper  .picture .image{
    border-radius: 0px;
    margin:0px;
    padding:0px;
    display: block;
}
.grid-item .padding-wrapper .text-content{
    display: block;
    background:#000;
    color:#FFF;
    padding:5px;
    font-size:14px;
}

.grid-item .padding-wrapper .text-content .text-content-title{
    padding:2px 0px;
    margin:0px;
}
